[2013-07-18 05:43] ghost opened #2 "Debugger"
From Linda McIver:

I don't know how feasible it is, but it would be exceptionally useful to have a "step through" feature in Scribble so you can see where you are in a program and what each line achieves. Especially for complex programs, sometimes it's really hard to see what is happening. Essentially I'm looking for a debugger, which might be a bit much to ask. :-)

[2013-07-22 05:00] aidanlane opened #3 "Ensure that the text "write" block outputs "script variables", not just global ones"
Ensure that the text "write" block outputs "script variables", not just global ones

This was broken in Scribble 0.0.7 (29-Jun-12).

[2013-07-23 03:09] Craxic opened #4 "Shape blocks"
Add:
- Circle radius X
- Oval X by Y
- Rectangle X by Y

[2013-07-23 03:14] Craxic opened #5 "Remove clear block from shapes"

[2013-07-23 03:15] Craxic opened #6 "Add a text section rather than putting text in shapes"

[2013-07-23 03:17] #3 closed, assigned to Craxic

[2013-07-23 04:12] #5 closed, assigned to Craxic

[2013-07-23 04:12] #6 closed, assigned to Craxic

[2013-07-23 04:58] #4 closed, assigned to Craxic

[2013-08-01 04:51] aidanlane opened #7 "Cellular: Agent Costumes"
From Linda McIver:
"one feature desperately needed in cellular is the ability to easily detect the costume of a different type of agent - so if I have cats and mice, I want the mice to be able to detect whether the cat is wearing "hungry cat" costume or "sleeping cat" costume. Currently you have to fudge that with the name of the costume..."

[2013-08-01 04:51] aidanlane opened #8 "Cellular: Point Towards"
From Linda McIver:

"It would also be nice to be able to point towards the nearest agent of a particular type - so cats could point towards the nearest mouse, for example. (currently the "point towards" function allows you to point towards a particular sprite, but the sprite names seem to change and are not predictable - so I have a program with 3 sprites, and the "point towards" option gives me s

[2013-08-01 23:23] aidanlane opened #9 "Cellular: Allow for more than 200 agents of a particular type to be instantiated"
Cellular 0.0.8 (desktop version) has a limit of 200 agents of any given type to be instantiated (at least via the GUI- does the 'clone' block have this limit?).

We need to remove this artificial limit, but still consider how to handle the ramifications of the user accidentally entering a large number (e.g. 900 or 2000). We still need to keep the GUI responsive or at least give a warning about the

[2013-08-02 05:14] aidanlane opened #10 "Block Flicker"
If you drop and join some blocks, such as two "Draw Text" blocks together and then move the mouse pointer over the block palette, one of the dropped blocks will flicker.

Occurred on the latest Chrome 28 on Mac OS X, but not the latest Safari or Firefox.
However the official Snap! webapp does not exhibit this issue - maybe time to merge in the latest changes?

[2013-08-07 05:10] #10 closed, assigned to Craxic

[2013-08-12 02:12] aidanlane opened #12 "Cellular: clear & set all cells for a given attribute (not just "set cell" or "clear cell" of current position)"

[2013-08-29 02:48] aidanlane opened #13 "Cellular: Add ability to spawn of a given type"
This would mean:

For sprites: adding ability to spawn of any time, not just it's own
For the stage: adding ability to spawn in general, of any type

[2014-01-18 08:14] #12 closed, assigned to nobody

[2014-01-18 08:17] #9 closed, assigned to Craxic

[2014-01-18 08:23] Craxic opened #14 "Editing a costume sprite does not dirty the area that instances using the costume occupy."

[2014-01-18 09:00] Craxic opened #15 "Cell attribute values not being saved"
needs to be implemented.

[2014-01-18 09:00] Craxic opened #16 "Changing from and to "Flat design mode" changes all "Object" and "Cells" blocks to change to "Obsolete!" blocks"
Odd.

[2014-01-18 09:11] #16 closed, assigned to nobody

[2014-01-27 03:14] mciotola opened #17 "Dragging or importing sprite does not work on web version of scribble"
Dragging or importing sprite does not work on web version of scribble. Tried on Safari 5.1.10 and Firefox 26.0 (both on OSX 10.6.8.
![import_sprite_scribble_web](https://f.cloud.github.com/assets/714256/2005932/2968e9c6-8701-11e3-9126-d7d1c8ca4893.png)

[2014-01-27 06:01] mciotola opened #18 "How to edit background in web version of Scribble?"
How does one edit background in web version of Scribble? Clicking on the background did not bring us an edit window, nor a Background tab.

[2014-02-01 19:18] mciotola opened #19 "Ability to manually enter a value into slider number indicator box"
(Enhancement?) This is very optional, but it would be nice to have the ability to manually enter a value into slider number indicator box, such as where the "13.12" value is in the screenshot below. Sometimes it is tedious to get the slider to the exact value desired. I am developing in the html 5 version of Scribble.

![slider_screen_shot](https://f.cloud.github.com/assets/714256/2058508/2b4ecc2e

[2014-02-01 19:24] mciotola opened #20 "Scribble or SnapApps memory leak?"
When I have both Scribble and the Scribble web version open, my computer often gets really hot, even though it is not a very old computer (late 2011 MacBook Pro). This is even when I am not running any of the drawing programs. I usually don't have this problem with other programs, so there might be a memory leak.

Alas, I rarely have just one open these days, so I don't know which one has the leak

[2014-02-03 02:46] mciotola opened #21 "Scribble HTML 5 version: when rotate __ degrees, draw shape does not rotate"
Scribble HTML 5 version

When rotate __ degrees, shapes are not rotated when drawn.

![screen shot 2014-02-02 at 6 46 32 pm](https://f.cloud.github.com/assets/714256/2062119/371421d6-8c7d-11e3-8bff-ce1cdd1a3a8d.png)

[2014-02-03 03:05] mciotola opened #22 "Scribble HTML 5 version: no "Clear" block under Shapes palette"
Scribble HTML 5 version:

There is no "Clear" block under Shapes palette, even though the desktop version has one. Can the "Clear" block under Pen palette be substituted in all cases?

[2014-02-03 03:21] #17 closed, assigned to nobody

[2014-02-03 23:32] mciotola opened #23 "Scribble html 5 version: where to enter project author?"
Scribble html 5 version:

Where does one enter project author? The desktop Scribble seems to have had a place to enter the author (which shows up when opening a file).

[2014-02-04 02:40] mciotola opened #24 "Scribble HTML 5 version: "set ghost effect to" block does not work with "stamp" block"
Scribble HTML 5 version:

The "set ghost effect to" block does not seem to work with the "stamp" block.

[2014-02-04 02:42] mciotola opened #25 "Scribble HTML 5 version: Paint Editor screen does not have set costume center button"
Scribble HTML 5 version:

Paint Editor screen does not have set costume center button.

[2014-02-05 04:52] mciotola opened #26 "Scribble HTML 5/Alexandria: get "Leave Page" warning when trying to exit Scribble projects"
Scribble HTML 5/Alexandria:

I get a "Leave Page" warning when trying to exit Scribble projects.

Also, when Scribble is embedded into an Alexander learning module, when I try to close the module, I get one "Leave Page"  warning for every Scribble project (interactive) that is  embedded in that module; so 3 embedded projects results in 3 warnings when I try to close that module.

For example, see:

[2014-02-06 03:49] mciotola opened #27 "Scribble HTML 5: app seems to be down"
The Scribble HTML 5 app seems to be down, or am I using the wrong url?

http://berndmeyer.github.io/snapapps/scribble.html

[2014-02-06 04:27] #20 closed, assigned to nobody

[2014-02-06 04:33] #27 closed, assigned to nobody

[2014-02-06 04:45] #22 closed, assigned to nobody

[2014-02-06 04:58] #21 closed, assigned to nobody

[2014-02-06 05:07] #24 closed, assigned to nobody

[2014-02-08 00:53] mciotola opened #28 "Scribble HTML 5: lost my project files after migration from Bernd to Aidan"
Scribble HTML 5:

I have lost all of my project files. This seems to have happened after the after migration from Bernd's  to Aidan's github.io account. This might be caused by projects being stored in the browers "HTML5" database rather than as files on the desktop.

Could the Bernd version be temporarily re-activated so I can retrieve my projects (as long as this will not be many hours of work).

[2014-02-09 11:21] #18 closed, assigned to nobody

[2014-02-10 01:27] #28 closed, assigned to nobody

[2014-02-14 11:24] Craxic opened #29 "Can drag a ghost sprite at the centre of the stage in cellular."

[2014-02-17 05:53] aidanlane opened #30 "Fwd: Scribble HTML 5 version:there is no "change fill color by __""
From Mark Ciotola, was on Alexandria repo issues

[2014-02-17 05:54] aidanlane opened #31 "Fwd: "get fill color number block" causes Scribble html project to hang and crash."
![647f4dd6-8d5d-11e3-998d-220b8d4e8cfe](https://f.cloud.github.com/assets/1817949/2182736/0994e5c6-9798-11e3-8532-3367ea36a619.png)
From Mark Ciotola, was on Alexandria repo issues

[2014-02-17 06:11] #30 closed, assigned to nobody

[2014-03-28 07:00] #25 closed, assigned to nobody

[2014-03-28 07:02] Craxic opened #32 "As block"
Create the "As" C-block.

[2014-03-28 07:03] Craxic opened #33 "(Nearest [ ] to x:( ) y:( ) where < >)"
Make the nearest-searcher block.

[2014-03-28 07:06] Craxic opened #34 "Neighbours pallette"
More stuff to do

[2014-03-28 09:45] #29 closed, assigned to Craxic

[2014-03-28 10:49] #32 closed, assigned to Craxic

[2014-03-29 09:56] Craxic opened #35 "SpriteMorph being parented by SpriteBubbleMorph"

[2014-03-29 09:57] Craxic opened #36 "SpriteMorph instances share variables"
Dont do this.

[2014-03-29 09:59] #33 closed, assigned to nobody

[2014-03-29 10:01] Craxic opened #37 "Use Quadtree for nearest block"

[2014-03-29 10:02] Craxic opened #38 "Make "Find nearest" atomic."

[2014-04-06 12:51] #34 closed, assigned to Craxic

[2014-04-06 12:53] #15 closed, assigned to nobody

[2014-04-06 12:54] Craxic opened #39 "Draw From - Draw To input boxes not working"

[2014-04-07 06:17] #7 closed, assigned to Craxic

[2014-04-13 03:20] #39 closed, assigned to nobody

[2014-04-13 12:42] #13 closed, assigned to nobody

[2014-04-20 07:35] #8 closed, assigned to Craxic

[2014-04-20 08:34] #31 closed, assigned to nobody

[2014-04-20 08:57] #36 closed, assigned to nobody

[2014-04-20 09:00] #26 closed, assigned to nobody

[2014-04-20 09:02] #23 closed, assigned to nobody

[2014-04-20 09:24] #14 closed, assigned to nobody

[2014-04-20 09:28] #35 closed, assigned to nobody

[2014-06-09 04:41] mciotola opened #40 "Can see HTML5 Cellular on Firefox and Chrome but not Safari"
I am using Safari 7.0.4 on Mavericks. Do I need to have Java installed?

http://aidanlane.github.io/snapapps/cellular.html

[2014-06-18 03:37] eduvik opened #41 "Default costume might be problematic"
The default 'turtle' costume is too big to effectively fit in some most cells. It should either be replaced with a smaller default costume, or be able to change the default costume. If this is not feasible, documentation should be advising users to create and set a costume early in their program

[2014-07-03 00:53] Craxic opened #42 "Make Minified Release Zip"

[2014-07-03 00:53] Craxic opened #43 "Unzip AR-Drone server"

[2014-07-04 13:42] #42 closed, assigned to nobody

[2014-07-04 13:42] #43 closed, assigned to nobody

[2014-07-07 12:36] #38 closed, assigned to nobody

[2014-08-04 09:57] #41 closed, assigned to nobody

[2014-08-06 02:25] aidanlane opened #45 "cellular_logo_sm.png missing from generated zip file"
[code]

[2014-08-27 00:48] eduvik opened #46 "Change speed of execution"
Related to #2 - for debugging it would be really nice to have a dial/slider to change the speed of execution.

[2015-05-14 05:02] mciotola opened #47 "Cellular: Export to ZIP does not work in Chrome"
Cellular: Export to ZIP does not work in Chrome (only works in Firefox).

[2015-05-14 05:08] mciotola opened #48 "Cellular: sprite selector does not take image of selected costume"
Cellular: the sprite selector does not take the image of the selected costume; the turtle sprite still appears in the selector, even though the cow was selected. However, the correct image does show up on the stage. See image below:
![screen shot 2015-05-13 at 10 05 59 pm](https://cloud.githubusercontent.com/assets/714256/7626342/6866e40a-f9bc-11e4-8eae-43748017ebd1.png)

[2015-05-14 22:59] mciotola opened #49 "Do we need to add code snippet to the Cellular index.html for Alexandria interactives?"
Do we need to add the below code snippet to the Cellular index.html files to get them to accept parameters as Alexandria interactives? The tutorial implies this, and I am not getting the URL parameter to work yet without doing do.

    (function() {
        "use strict";
        window.onInteractiveLoad = function() {
            var model = getInteractiveParameter('model');

            // ...

[2015-05-15 02:35] mciotola opened #50 "Cellular HTML5: Flat Design alway present when Exporting to ZIP"
Cellular: the flat design is alway present when Exporting to ZIP, even when the "Flat design" box is unchecked in the Widget menu. The problem is that the Flat design is harder to use. For example, the "radius(cells)" and "value" labels beneath the stage are in white text against a white background.

See below menu:
![flat_design_unchecked](https://cloud.githubusercontent.com/assets/714256/7645837

[2015-05-15 04:30] mciotola opened #51 "Cellular HTML5: cannot delete variable"
Cellular HTML5: cannot delete variables. Clicking the "Delete A Variable" button does not have any effect, even when the box to the left of the variable is checked. (Yes, I misspelled the variable name, which is why I want to delete it.)

![cannot_delete_variable](https://cloud.githubusercontent.com/assets/714256/7646896/cfdd0e34-fa7f-11e4-86cf-27fae1a8be12.png)

[2015-05-15 05:16] mciotola opened #52 "Cellular HTML5: cannot change costume size"
Cellular HTML5:

I cannot figure out how to change costume size. Right-clicking the costume did not give me the option, and the resizing options in the paint window are gone.

![cannot_change_sprite_size](https://cloud.githubusercontent.com/assets/714256/7647280/bcc6025e-fa86-11e4-88d0-318f58c89f3d.png)

[2015-05-15 05:54] mciotola commented on #51
A bit of progress. When I click "Delete a Variable", I get a menu (see image below) with the variable names to delete. However, it does not actually delete the variable. In contrast, using this pop-up menu to delete cell attributes does seem to work.

![delete_var_menu](https://cloud.githubusercontent.com/assets/714256/7647553/dd9f1d30-fa8b-11e4-9d2e-f100bcfba32e.png)

[2015-05-15 09:42] aidanlane commented on #50
Ah, that was my decision a while ago. It was because the flat look suited the web pages of Alexandria better. However, if it's a real usability issue, then we could remove this behaviour. What do you think @mciotola and @Craxic ?

[2015-05-15 09:43] aidanlane commented on #47
Require shift button to be pressed to see this option in the file menu? Alert user if not running Firefox?

[2015-05-15 09:44] aidanlane opened #53 "Cellular HTML5: need default cell attribute?"
It's a pain for first time users if not.
What did the desktop version do?

[2015-05-15 09:46] aidanlane opened #54 "Cellular HTML5: merge in latest version of snap"
the latest version seems to seems to make it easier to bundle in costumes to help users get started faster

[2015-05-15 19:56] mciotola commented on #50
The Flat design certainly is more consistent with Alexandria's look & feel.
If the Flat design was tweaked a bit (i.e. change white type to dark type,
contrast other features better, etc.), it would be clearer to users. Until
then, it will be confusing for beginning users.

On Fri, May 15, 2015 at 2:42 AM, Aidan Lane <notifications@github.com>
wrote:

[2015-05-15 20:14] mciotola opened #55 "Cellular HTML5: can costumes numbers be explicitly displayed?"
Cellular HTML5: can costumes numbers be explicitly displayed?

For example, at least one block refers to costume number, which is extremely useful in calculations and costume sensing and selection. See below:
![costume_](https://cloud.githubusercontent.com/assets/714256/7660941/6f458202-fb03-11e4-90fb-c7ceae31f71f.png)
In the desktop version of Cellular, costume numbers were explicitly displayed:

[2015-05-15 20:35] mciotola opened #56 "Cellular HTML5: issues with on-stage sprite menu choices"
Cellular HTML5: a few of the on-state sprite menu choices do not work.

"Duplicate" works OK.

"Delete" works OK.

"Edit" does not seem to do anything.

"Export..." produces the error show at the bottom image.

![cellular_html5_stage_sprite_menu](https://cloud.githubusercontent.com/assets/714256/7661389/268590c6-fb07-11e4-9ca3-f75a5476cec9.png)

![cellular_html5_stage_menu_sprite_export_error](htt

[2015-05-16 03:14] #54 closed

[2015-05-16 03:17] Craxic commented on #54
My mistake, actually closed in 9d85d2d5676cc5a32aae0588af154b08d63d33ff

[2015-05-16 03:45] Craxic opened #57 "Cellular: Loading and saving makes the sprites small."

[2015-05-16 03:46] Craxic commented on #56
Hi Mark!

Nice to talk to you again, it's been such a long time! Aidan said you work at NASA! How's that?

* Duplicate doesn't actually work OK ATM. Fixed.
* Delete works fine.
* Edit does actually do something: It selects the sprite as the currently editing one. Didn't work properly before this change though.
* Export works fine: see default snap behaviour.

[2015-05-16 03:54] Craxic opened #58 "Cellular: Draggable checkbox does not work."

[2015-05-16 04:01] Craxic commented on #49
Yes, you will indeed need to do this. Unfortunately I no longer have any access to Alexandria so I cannot perform any testing or fixing. @aidanlane?

[2015-05-16 05:53] mciotola commented on #56
Hi Matt,

1. Confirm that duplicate and delete work fine.
2. For edit, is it possible to open up the edit pop-up window? This would improve GUI consistency.
3. I still get an error when exporting using this menu. I just received the error shown below (using OSX 10.9.5 with Firefox 37.0.2):
![cellular_html5_sprite_stage_menu_export_error2](https://cloud.githubusercontent.com/assets/714256/7664913/f

[2015-05-16 05:58] mciotola commented on #51
There is still a problem. When I "Delete a Variable" and choose a variable to delete, that variable disappears from the stage. However, it still remains in the Variables block list, at least for awhile. This will make the user think the variable has not actually been deleted, even if it has been.

For example, I created then deleted "vartest2" and "vartest3". The names no longer appear on the stag

[2015-05-16 06:11] aidanlane commented on #49
Sure, what authcate username?

[2015-05-16 06:31] aidanlane commented on #53
Champion!

"default" as a name works for me- how about you @mciotola and @berndmeyer?

[2015-05-16 06:33] aidanlane commented on #54
Thanks!

@mciotola, are there any images wpthat you'd like included by default?

[2015-05-16 06:34] aidanlane commented on #50
@mciotola: very true. @Craxic: what do you think?

[2015-05-16 06:54] Craxic commented on #56
Hi Mark,

1. Great!
2. This behaviour is the same as "Snap!" from which Cellular is based upon. Is this not the behaviour that we want? Do you want to instead show the Costume edit screen?
3. What error are you talking about? Do you mean "This XML file does not appear to have any style information associated..."? This should occur, and isn't an error. It just says that its displaying the XML witho

[2015-05-16 07:02] Craxic commented on #51
Hi Mark,

I'm unable to reproduce this issue. Could you please specify the types of these variables (global, for each instance of this sprite). I can't see any issue with either.

Please let me know when you find a way to reliably reproduce this bug. Sorry I can't help any further.

[2015-05-16 07:10] Craxic commented on #52
Hi Mark.

This is the default behaviour of "Snap!", so cellular will also lack such a feature. However, new "grow" and "shrink" buttons have been added since #54 was fixed. Perhaps they might be what you want? Also consider using:

![download](https://cloud.githubusercontent.com/assets/4537985/7665157/5d08c86a-fbee-11e4-9090-d2bbb82f4132.png)

Let me know if there's anything else I can do. Other t

[2015-05-16 07:36] Craxic commented on #50
Hey everyone. It's my bad for making the text always white for the drawing bar. I've fixed that up.
I agree that the flat UI is a much better fit for Alexandria. However, the flat UI style is really hideous and neglected. It's just a poorly designed re-skinning of the original style where everything is more difficult to use. So long as the user doesn't have to edit anything, I think we should keep

[2015-05-16 07:37] Craxic commented on #49
"rmatt"

[2015-05-16 07:46] aidanlane commented on #49
Done :)

[2015-05-16 08:06] aidanlane commented on #50
Okay, let's try this: revert to not forcing flat and just use the current setting.
Thanks for your patience.

[2015-05-16 08:18] Craxic commented on #47
@mciotola: Can I ask how you are running Cellular? I cannot even get the ZIP working in Firefox. I just want to make sure I haven't changed something.

Thanks!

[2015-05-16 09:40] aidanlane commented on #50
Ps. Good idea with the 'waiting reply' status :)

[2015-05-16 22:11] mciotola commented on #52
Hi Matt,

Thanks for letting me know about this history of this.  I am resizing
costumes outside of Cellular to reduce confusion, but I will try out the
block. Grow and shrink buttons would be great!

On Sat, May 16, 2015 at 12:10 AM, Craxic <notifications@github.com> wrote:

[2015-05-17 01:48] Craxic commented on #52
Hi Mark.

Just try the latest version of cellular and you should get the new "Grow" and "Shrink" buttons.

I'll close this issue for now. Let me know if you have more questions.

[2015-05-17 01:48] #52 closed

[2015-05-17 02:04] #57 closed

[2015-05-17 02:45] Craxic commented on #49
Hi Aidan,

Could you please approve interactive "Cellular Test" (62461). Thanks.

[2015-05-17 02:48] #50 closed

[2015-05-17 02:51] aidanlane commented on #49
As in "publish"? If so, done :)

[2015-05-17 03:03] aidanlane commented on #50
Perfect, thanks :+1:

[2015-05-17 03:10] #58 closed

[2015-05-17 03:38] Craxic commented on #49
Hi Aidan,

OK, I've done some more debugging. Could you please publish "Cellular Test 2" (62476). Thanks.

[2015-05-17 04:43] aidanlane commented on #49
Done and I've temporarily made you a publisher.

[2015-05-18 00:13] berndmeyer commented on #53
not sure I get the context of the question (sorry, unable to log onto
Github, my password is on my laptop which will only return to me tomorrow :)
Anyway, it appears the issue has been closed already.

Matt, thanks for helping out with this.
It's about time we closed off this branch (cellular / scribble) but do be
able to do that we first need to get them into Alexandria...

Best,

Bernd

On 16 Ma

[2015-05-18 00:23] aidanlane commented on #53
Hi Bernd,

It had to do with the need for a default cell attribute in Cellular.

The desktop version had one called "CellAttr1", which meant that the user could start using it straight away, including paining the default state of it.

The HTML version didn't have this at all. So Matt added it.
The question is though: what should it be called? Currently it's "default".
Should it instead be "Default

[2015-05-18 00:39] berndmeyer commented on #53
"Default" works for me. Probably not worth worrying too much about? You
won't find a name that suits all.

B.

On 18 May 2015 at 10:23, Aidan Lane <notifications@github.com> wrote:

[2015-05-18 01:15] mciotola commented on #53
I liked "CellAttr1", unless it works to spell it out. Default implies certain preset qualities that cannot be changed unless a new attribute is created.

[2015-05-18 01:30] mciotola commented on #47
I am running Cellular on OSX 10.9.5 on Firefox 38.0.1 (which changed from
37).

I use this URL:

http://aidanlane.github.io/snapapps/cellular.html

The file gets saved with an archaic name such as "xRJ6oR5Q.zip".

On Sat, May 16, 2015 at 1:18 AM, Craxic <notifications@github.com> wrote:

[2015-05-18 01:34] mciotola commented on #53
After reviewing the Flat design, I am strenuously for "CellAttr1".
Although the pulldown menu below the stage has no label, "CellAttr1"
indicates the purpose of that menu.

On Sun, May 17, 2015 at 5:39 PM, berndmeyer <notifications@github.com>
wrote:

[2015-05-18 01:41] mciotola commented on #50
Matt,

The Flat design is looking a lot better!

One improvement would be to add grey shading behind the sprite number field.

Another improvement would be to contrast the Cancel and OK buttons in the
sprite editing window.

Mark

On Sat, May 16, 2015 at 8:03 PM, Aidan Lane <notifications@github.com>
wrote:

[2015-05-18 01:41] aidanlane commented on #53
I agree with "CellAttr1".
An added (albeit small) benefit: it provides a nicer bridge from the desktop version.

Matt- when would you have a chance to work on this again? Thanks, A

[2015-05-18 01:43] mciotola commented on #54
Yes. What is the best file format?  GIF?

On Fri, May 15, 2015 at 11:33 PM, Aidan Lane <notifications@github.com>
wrote:

[2015-05-18 01:45] aidanlane commented on #54
I'd recommend PNG. Also, we need to be careful of copyright (as usual :)

[2015-05-18 01:51] aidanlane opened #59 "Support cloud options if easy, otherwise hide/disable"

[2015-05-18 01:52] mciotola commented on #54
Can I assume that we can use any image already included in the desktop
version of Cellular?

On Sun, May 17, 2015 at 6:45 PM, Aidan Lane <notifications@github.com>
wrote:

[2015-05-18 01:52] mciotola commented on #54
I meant in the examples from the desktop version of Cellular?

On Sun, May 17, 2015 at 6:52 PM, Mark Ciotola <mpaciotola@gmail.com> wrote:

[2015-05-18 01:53] aidanlane commented on #54
err- can you check? just to be absolutely sure :)

[2015-05-18 05:09] mciotola commented on #51
The problem is gone! Which means it was likely related to something else you recently fixed.

[2015-05-18 05:09] #51 closed

[2015-05-18 06:19] aidanlane commented on #53
Also, it should be selected by default in the combo-box so that user can draw with it straight away.
Oh and can you set the colour of it to red, instead of grey? Thanks Matt!

[2015-05-18 07:50] Craxic commented on #47
Hi Mark,

Yes this is the intended behaviour. Unfortunately it isn't possible for us to specify a filename for download as far as I am aware.

It should hopefully work on Chrome (although mine runs out of memory :(). Let me know how it goes.

Thanks.

[2015-05-18 08:22] #53 closed

[2015-05-18 08:23] Craxic opened #60 "Cellular: Cell attributes don't refresh in the UI when a project is loaded."

[2015-05-18 08:25] Craxic commented on #49
Hi Aidan,

I'm no longer a publisher so I can't test/fix this right now.

Matt.

[2015-05-18 08:56] #48 closed

[2015-05-18 09:04] aidanlane commented on #49
Sorry, I've bumped you back up to publisher.

--

Aidan Lane

Director, Education Technology Lab

Faculty of Information Technology

Monash University, Room H6.80, Caulfield Campus

900 Dandenong Road, Caulfield East, VIC 3145, Australia

+61 3 9905 8471

https://www.alexandriarepository.org

CRICOS Provider: Monash University 00008C

On Mon, May 18, 2015 at 6:26 PM, Craxic <notifications@github.c

[2015-05-18 09:38] aidanlane commented on #48
Great, thanks Matt!

[2015-05-18 09:39] aidanlane commented on #60
nice catch :)

[2015-05-18 09:40] aidanlane commented on #53
Thanks Matt!

[2015-05-18 10:10] Craxic commented on #49
Hi Aidan,

I've noticed that the functionality for Interactive parameters is broken (In the user friendly dialog at least). My last copy of alexandria shows the following code in `/src/wp-content/plugins/alex_interactive/public/assets/js`:

[code]

However in the version served to me, I see:

[code]

It will be broken until this is repaired.

Out of interest, why was it removed? Did I screw someth

[2015-05-18 10:14] #49 closed

[2015-05-18 10:19] Craxic commented on #49
You can now use Cellular/Scribble as-is in Alexandria.
* Add new interactive to Alexandria
* Add parameter named "Project" with identifier "project". Set type to "File Inline (attribute value is file contents)".
* Set main HTML file to cellular.html
* Publish the Interactive
* Go to your Module and insert the Interactive! NOTE: Until the above issue with the Interactives plugin is resolved, you wi

[2015-05-18 10:51] #55 closed

[2015-05-18 11:30] aidanlane commented on #55
Hehe, thanks :)

[2015-05-18 20:56] mciotola commented on #47
Hi Matt,

It still won't work for me on Chrome. I still get the "Aw, Snap!" error
page.

Mark

On Mon, May 18, 2015 at 12:50 AM, Craxic <notifications@github.com> wrote:

[2015-05-18 20:58] mciotola commented on #48
Was this change deployed yet? I don't see it.

[2015-05-18 21:23] mciotola opened #61 "Cellular HTML5: can "don't rotate" be default for sprites?"
Cellular HTML5:

Can "don't rotate" be the default for sprites? This sounds trivial, but most of our examples do not use rotation. I keep forgetting to click "don't rotate", so I have to often re-do work. I expect the same for most of our users.
![cellular_html5_sprite_rotation_choices](https://cloud.githubusercontent.com/assets/714256/7690563/7015e6dc-fd69-11e4-92d7-0ce69c0c46a5.png)

[2015-05-18 21:38] aidanlane commented on #61
What was the default in the desktop app?

@berndmeyer, any thoughts?

[2015-05-18 21:52] mciotola commented on #61
The default was "can rotate", so this would be a change from the desktop
version. It works for ants and bacteria, but not so well for bushfires,
palm trees, cows, people or viruses (which are smiley faces sometimes with
hats).

On Mon, May 18, 2015 at 2:38 PM, Aidan Lane <notifications@github.com>
wrote:

[2015-05-18 22:14] aidanlane commented on #61
"Can rotate" is also the default in scribble too, right?

[2015-05-18 22:15] aidanlane commented on #40
Hey @mciotola, can you recheck this, now that @Craxic has pulled in the latest. Erosion of snap?

[2015-05-18 22:21] aidanlane commented on #49
Interesting, I'll have a look today, Thanks!

[2015-05-18 22:24] mciotola commented on #61
Yes, although the sprite in Scribble is typically a pen or pencil, rather
than, say a cow or person.

It the default stays on "can rotate", it is not a problem, merely a minor
annoyance.

On Mon, May 18, 2015 at 3:14 PM, Aidan Lane <notifications@github.com>
wrote:

[2015-05-18 22:26] mciotola commented on #40
Opening Cellular HTML 5 on Safari still produces a blank screen, even
though I tried several reloads.

On Mon, May 18, 2015 at 3:15 PM, Aidan Lane <notifications@github.com>
wrote:

[2015-05-18 23:54] aidanlane commented on #40
Thanks Mark- @Craxic, could you have a look at this, thanks!

[2015-05-18 23:55] aidanlane commented on #61
Cool- I'll let @berndmeyer make the call... :)

[2015-05-19 00:14] berndmeyer commented on #61
I handball that to Mark - you're closer to how the examples work. Happy to
go with whatever you see fit!

On 19 May 2015 at 09:55, Aidan Lane <notifications@github.com> wrote:

[2015-05-19 00:29] mciotola commented on #61
Matt, do you have any insights on whether the default for sprites being
"can rotate" versus don't rotate?

On Mon, May 18, 2015 at 5:14 PM, berndmeyer <notifications@github.com>
wrote:

[2015-05-19 00:53] mciotola opened #62 "Cellular HTML5: spraypainting for attribute painting"
Cellular HTML5:

I feel like a professional whiner! Yet here is another enhancement request.

The desktop version of Cellular had a default "spraypaint" (airbrush) effect attached to its paintbrush (see image below). The HTML5 version lacks this. I realize that the intensity control may be a substitute, but it is difficult to have multiple intensities in the same clump of an attribute.

![cellular

[2015-05-19 01:01] mciotola commented on #62
Correction: there already is a slight airbrush effect; could this be increased?

[2015-05-19 01:21] aidanlane commented on #47
@Craxic, can we go with this plan then: "Require shift button to be pressed (like Edgy does) to see this option in the file menu? Alert user if not running Firefox?"

[2015-05-19 01:22] aidanlane commented on #45
Hi @Craxic, can you check if this is still an issue? Thanks!

[2015-05-19 01:41] mciotola opened #63 "Cellular HTML5: expanded toolset for attribute painting"
Cellular HTML5:

The desktop version of Cellular had a nice toolbar that adjusts brush size, has an eraser, etc. (see image below). The HTML5 version lacks these things.

I also realize that much of this may be the UC Berkeley team's fault, but is it possible to get these tools restored? The eraser is vital!

![cellular_html5_attribute_painting](https://cloud.githubusercontent.com/assets/714256/76

[2015-05-19 02:07] mciotola opened #64 "Cellular HTML5: neighbor block question else issue"
Cellular HTML5:

I am trying to replace the "# alight in nbr cells" and the "match in cell right?" desktop Cellular blocks (see below)

![cellular_desktop_bushfire_question](https://cloud.githubusercontent.com/assets/714256/7694118/98df9208-fd90-11e4-93f9-f331556f8e46.png)
with neighbor blocks in the Cellular HTML5 version (see below)
![cellular_html5_neighbor_blocks](https://cloud.githubuserconte

[2015-05-19 03:43] mciotola commented on #64
I'm trying to figure out a way to use Sensing or Object blocks to help, but I don't get it yet.

[2015-05-19 04:45] aidanlane commented on #62
Is this a matter of adjusting the 'spread' value from desktop version (see the 'Make a cell attribute' dialog).

[2015-05-19 05:15] Craxic commented on #62
Mark, is this what you mean?

![Brush hardness](http://striegle51839.c4.cmdwebsites.com/blog/wp-content/uploads/2012/02/hardness1.jpg)

[2015-05-19 05:17] Craxic commented on #45
Hi Aidan,

That file exists in the generated ZIP files. Not sure what the issue is with this, closing it for now.

[2015-05-19 05:17] #45 closed

[2015-05-19 05:18] Craxic commented on #63
Hi Mark,

For the "Eraser" tool, just set the value of the brush to 0. Perhaps this needs to be made clearer somehow.

Matt.

[2015-05-19 05:28] aidanlane commented on #45
Great, thanks mate!

[2015-05-19 05:34] mciotola commented on #62
Partly yes. Perhaps 25% would be even better. It is also helpful if an area
gets darker the longer one holds the brush over it (as with the desktop
version).

On Mon, May 18, 2015 at 10:15 PM, Craxic <notifications@github.com> wrote:

[2015-05-19 05:40] mciotola commented on #63
Part of the problem is that the attribute menu defaults to blank, and I
keep forgetting to pull it down to the attribute (e.g. grass; see below
image), so it falsely seems like value and radius do not work. Could we get
that menu to default to the first attribute?

An eraser button would make matters more obvious, but the above menu issue
is more critical.

[image: Inline image 1]

On Mon, May 18,

[2015-05-19 05:48] mciotola opened #65 "Cellular HTML5: do we need breed and die control blocks?"
Cellular HTML5:

The desktop version of Cellular contains special "breed" and "die" control blocks (see below image) that I cannot find in the HTML5 version. Do we need these blocks in the HTML5 version, or is there some clever way to use other blocks to accomplish the same?

![cellular_desktop_control_blocks](https://cloud.githubusercontent.com/assets/714256/7696238/f2ec1e3c-fdaf-11e4-8024-65de47

[2015-05-19 05:51] aidanlane commented on #65
I think that the 'clone' block replace them:
![image](https://cloud.githubusercontent.com/assets/1817949/7696286/ef1f03fc-fe3e-11e4-8b86-e0eebcd35b4e.png)

[2015-05-19 05:53] #65 closed

[2015-05-19 06:07] aidanlane commented on #49
Looks like someone accidentally removed some code.

I tried patching it with:
[code]

But it still doesn't work- the params page appears solid black.

@tuanmh, could you have a look at it ASAP for me? Thanks!

[2015-05-19 06:15] mciotola opened #66 "Cellular HTML5: images get fuzzy when growing or shrinking"
Cellular HTML5:

Images get fuzzy when growing or shrinking (see tool bar).

![cellular_html5_grow-shrink-tools](https://cloud.githubusercontent.com/assets/714256/7696648/fe58d428-fdb3-11e4-951a-a89080303d28.png)

 I can live with this, but I have a hunch Bernd will object. For instance, this original palm:

![palmtree2](https://cloud.githubusercontent.com/assets/714256/7696548/41d91ac4-fdb3-11e4-

[2015-05-19 06:25] Craxic commented on #66
Hi Mark,

This is the functionality of the grow and shrink buttons. It simply scales the image up or down by a small percentage each time the button is pressed. You can expect the image to become very blurry.

Please use the set scale block if possible.

Matt.

[2015-05-19 06:33] aidanlane commented on #66
Yep, that makes sense from an image editing experience.

The desktop version had a 'resize this sprite' on the agent's context menu. Does the web version have an analogue?

[2015-05-19 07:02] mciotola commented on #66
I think part of the problem is that I have to click the shrink button in the HTML5 version about 25 times to get the same reduction as clicking it roughly about 5 times in the desktop system. So in the new system, the image will be about 5 times fuzzier.

Matt, I will try the set scale block tomorrow.

[2015-05-19 11:35] tuanmh commented on #49
sure, I will look at this tmr.

[2015-05-19 11:52] aidanlane commented on #49
Thanks Tuan!

[2015-05-19 12:00] tuanmh commented on #49
@aidanlane could you please grant me permission to view/edit Matt's interactive: interactive id = 62546

[2015-05-19 12:38] aidanlane commented on #49
No probs, for `tuan` or `tuanm`?

[2015-05-20 00:27] tuanmh commented on #49
```tuanm``` please

[2015-05-20 00:29] aidanlane commented on #49
done :)

[2015-05-20 02:03] tuanmh commented on #49
This is the window I got after fixing (hopefully) the bug:

![image](https://cloud.githubusercontent.com/assets/3193353/7717647/2ddf028c-fee8-11e4-935c-6378280298cf.png)

Can anyone confirm this is correct?

[2015-05-20 02:08] aidanlane commented on #49
Can you set the params when clicking "Use" (from Add Interactive dialog)?

[2015-05-20 02:10] tuanmh commented on #49
Ah here is that window:

![image](https://cloud.githubusercontent.com/assets/3193353/7717710/2ca9d1e8-fee9-11e4-97b2-88ac5f03bc5b.png)

[2015-05-20 02:13] aidanlane commented on #49
That's it, perfect!

[2015-05-20 02:14] tuanmh commented on #49
Multiple params:

![image](https://cloud.githubusercontent.com/assets/3193353/7717743/b05cb15e-fee9-11e4-9fd7-c6c9d860e227.png)

[2015-05-20 02:17] aidanlane commented on #49
Nice! (and to you too @Craxic)

[2015-05-20 02:35] mciotola commented on #49
For SnapApps, I think we need to be able to enter in a long URL rather than
a few numbers. It is not clear how to do so. Would that be single line
text? Do the SnapApps know what to do with it?

On Tue, May 19, 2015 at 7:17 PM, Aidan Lane <notifications@github.com>
wrote:

[2015-05-20 02:46] aidanlane commented on #49
Sorry Mark, what do you mean?

For SnapApp projects, you can simply upload it's XML file via the GUI.

[2015-05-20 02:58] mciotola commented on #49
Just to be clear, the goal is to enter a very basic Cellular interactive
once, then specify an input URL to turn the basic interactive into a
particular simulation (e.g. grazing, ants, bushfire with the appropriate
blocks, costumes, stage-painting, etc.) for each different learning module.
This will greatly reduce ePub size and hopefully improve overall Alexandria
performance.

Don't I need to ent

[2015-05-20 03:05] mciotola commented on #49
Or instead of a URL, I have an exported XML file. Yet I am still not sure
how to enter the XML file in the Interactive entry view:
[image: Inline image 1]

On Tue, May 19, 2015 at 7:58 PM, Mark Ciotola <mpaciotola@gmail.com> wrote:

[2015-05-20 03:11] mciotola commented on #49
OK, I think I get it. I upload the XML file to the media library, and
include it as an "inline" file. Correct? (See below).
[image: Inline image 1]

On Tue, May 19, 2015 at 8:05 PM, Mark Ciotola <mpaciotola@gmail.com> wrote:

[2015-05-20 03:13] mciotola commented on #49
Yes, now this works for me. Thanks!

On Tue, May 19, 2015 at 8:11 PM, Mark Ciotola <mpaciotola@gmail.com> wrote:

[2015-05-20 03:31] aidanlane commented on #49
Yep, that's it :))

[2015-05-20 22:34] mciotola commented on #66
Matt,

Where do I find the "Set Scale" block? That would be very useful, say, if I could automatically resize a costume to fit in a single cell, or a single cell vertically, etc.

I did find the "set size to __%" is that what you meant? Although it does not seem to resize with reference to cell size, it does seem to preserve image crispness, which is also very helpful.
![cellular_html5](https://cl

[2015-05-20 23:17] mciotola opened #67 "Cellular HTML5: can't get "distance to" block to work"
Cellular HTML5:

I have been trying to get the ant simulation to work properly. However, I can't get "distance to" block to work. In the desktop sim, it gets pointed to "Sprite 44". However, in the HTML5 version, the block just lets me point "Type 2" (the anthill sprite), mouse or close. Since there is only one anthill, "Type 2" should work fine for this particular sim.

However, all of the ants k

[2015-05-22 02:51] mciotola opened #68 "Cellular HTML5: having graphics troubles"
Cellular HTML5: I am having graphics troubles. I can't get sprites to show up. There is a weird smearing going on of costume icons (see image below).

![cellular_html5_weirdness](https://cloud.githubusercontent.com/assets/714256/7763229/d02d408e-fff2-11e4-8a5b-9ac6a637446f.png)

[2015-05-22 02:57] aidanlane commented on #68
Wow, that is weird! @Craxic- any suggestions?

[2015-05-22 03:53] mciotola commented on #68
It happens when:

I try to enter in the number of sprites (e.g. 50). The number doesn't change (and no sprites appear), so I click enter in the field. It still doesn't change, so I click enter again, then the smearing occurs.

[2015-05-22 03:55] mciotola commented on #68
This is serious! I can't set the sprite number in any Cellular HTML5 simulations so far. (I was able to do so fine yesterday). I was trying to build my own blocks earlier today, but this simulation doesn't have any custom blocks.

[2015-05-22 09:05] Craxic commented on #68
Hi Mark.

Sorry about this issue, it's fixed now. Unfortunately there are a few additional steps you need to take with your project files:

* Export project to file
* Open project XML in a text editor
* Find `scale=`. You'll probably see a huge number like `scale="1000000"`.
* Replace all of `scale="<insert scale here>"` with `scale="1"`
* Save file.
* Import project into Cellular.

If you want to

[2015-05-22 09:05] #68 closed

[2015-05-22 09:11] Craxic commented on #66
Hi Mark,

You'll need to use the set size block to set the size of all of the sprites. Images are resized relative to their original image size, 100% being 1:1.

Note that if you adjust the number of cells showing on the stage, the sprites will resize themselves appropriately.

I will see what I can do about creating a block to scale the sprite to cell size.

Matt.

[2015-05-22 09:20] Craxic commented on #67
Hi Mark,

Your images are not working correctly. Would you also be able to provide the project file too (for HTML5 Cellular)?

Thanks,
Matt.

[2015-05-22 09:22] Craxic commented on #63
Hi Mark,

The drop-down should now show the first attribute by default.

I will look into adding more options for painting.

[2015-05-22 17:49] mciotola commented on #63
Excellent!

On Fri, May 22, 2015 at 2:22 AM, Craxic <notifications@github.com> wrote:

[2015-05-22 23:49] mciotola opened #72 "Cellular HTML5: can sprites automatically be placed in cells when populated?"
Cellular HTML5:

Can sprites automatically be placed in cells when populated?  E.g. when entering a number in the sprite box beneath the stage (see below).
![cellular_desktop_sprite_pop_entry](https://cloud.githubusercontent.com/assets/714256/7781346/f51e64d6-00a1-11e5-80e1-3ec10786eada.png)
This already happens in the desktop version, but in the HTML5 version, the sprites often cross cell borders

[2015-05-23 00:10] mciotola opened #73 "Cellular HTML5: adjusting loop cycle timing"
Cellular HTML5:

In the desktop version of Cellular, top-level loop cycles seemed to progress at about 5 cycles per second. This made for a nicely watchable animation.

In contrast, in the HTML5 version of Cellular, top-level loop cycles seemed to progress at roughly about 20 cycles per second.  This is quite hard for the eye to follow. Adding a "wait 0.2 second" control block to scripts helps a l

[2015-05-23 00:58] mciotola opened #74 "Cellular HTML5: varFrames error"
I had saved a Cellular HTML5 sim, but when I tried to re-open it, I received the below varFrames error, and can no longer open that simulation (ants). I had redone the ant simulation from scratch, so there is no chance that it is correct from the scale error.
![cellular_html5_var_error](https://cloud.githubusercontent.com/assets/714256/7781787/1b21099a-00ac-11e5-9972-77f9eadf8de3.png)

[2015-05-23 04:07] Craxic commented on #73
Hi Mark,

Is this OK for you?
![Wait block](https://cloud.githubusercontent.com/assets/4537985/7782321/05075dea-0155-11e5-9c36-ad4b56162dca.png)

Matt.

[2015-05-23 04:09] Craxic commented on #74
Hi Mark,

I need a project file or some steps I can take to reproduce this bug. Until then it's going to make fixing this almost impossible.

Thanks,
Matt.

[2015-05-23 04:10] mciotola commented on #73
Yes, let's go ahead and try that.

On Fri, May 22, 2015 at 9:07 PM, Craxic <notifications@github.com> wrote:

[2015-05-23 04:11] #72 closed

[2015-05-23 04:12] Craxic commented on #72
Great idea, done!

[2015-05-23 04:13] Craxic commented on #73
That block already exists under "Control". Is it OK to close this?

Thanks!

[2015-05-23 04:15] mciotola commented on #74
I go to import file. I choose the file, and I get the error. Perhaps
something weird happened when I saved the file in Cellular.

Unfortunately, I cannot pull out the file. I even tried to get the URL in
history, but it didn't show up.

I guess we can just treat this as a one-time event and ignore it unless it
happens again.

On Fri, May 22, 2015 at 9:09 PM, Craxic <notifications@github.com> wrote

[2015-05-23 04:18] mciotola commented on #73
Cellular HTML5 seems to run much more quickly than desktop Cellular, so the
animation timing will typically need to be adjusted by the user. However,
this issue is minor, so go ahead and close it.

On Fri, May 22, 2015 at 9:13 PM, Craxic <notifications@github.com> wrote:

[2015-05-23 04:24] Craxic commented on #73
Thanks Mark!

[2015-05-23 04:24] #73 closed

[2015-05-23 04:32] Craxic commented on #74
Hi Mark,

Please visit https://aidanlane.github.io/snapapps/project_debug.html and provide me with the project file.

Thanks!

[2015-05-23 04:37] mciotola commented on #74
All I get is a blank screen.

On Fri, May 22, 2015 at 9:32 PM, Craxic <notifications@github.com> wrote:

[2015-05-23 04:57] mciotola commented on #74
The varFrames error happened again, with a new file called ants2 (see below image). Matt, I was able to export the XML file this time and I emailed it to you.

![cellular_html5_ants2_var-error](https://cloud.githubusercontent.com/assets/714256/7782460/7f92424c-00cd-11e5-8dec-3aede38362ad.png)

[2015-05-23 05:00] Craxic commented on #47
Fixed in Chrome.

[2015-05-23 06:01] Craxic commented on #45
Figured out the issue here, fixed.

[2015-05-23 06:32] Craxic commented on #74
Mark,

Would you be able to try this again please?

Thanks,
Matt.

[2015-05-23 06:39] Craxic commented on #40
Hi Guys,

Can anybody with a Mac please test this again?

Thanks!

[2015-05-23 07:39] #59 closed

[2015-05-23 11:15] aidanlane commented on #40
It now works for me on Safari 8.0.6- champion!!!

[2015-05-23 11:15] aidanlane commented on #59
Perfect, thanks!

[2015-05-24 05:59] #40 closed

[2015-05-24 06:11] #60 closed

[2015-05-24 07:24] aidanlane commented on #45
Wow, looks like a big fix- in a nutshell, what was the problem?

[2015-05-24 10:53] Craxic commented on #45
Oh, well since there are 3 apps (Cellular, Scribble, Ardrone) using the same code, I needed to make a way for them to add files based on what app is running (e.g the logo). So I had to factor out some stuff. In doing so, I made it much neater and cleaned up some stupid stuff I did.

[2015-05-24 22:40] aidanlane commented on #45
That makes sense, great! Thanks again for all your hard work mate :)

[2015-05-25 05:31] aidanlane commented on #47
Works great on Chrome now too, thanks Matt!

Unfortunately it doesn't work on Safari (at least in 8.0.6).

Therefore, can we go with this plan then: Require shift button to be pressed (like Edgy does) to see this option in the file menu? Alert user if not running Firefox or Chrome?

Thanks again for all your help!

[2015-05-25 06:08] aidanlane opened #75 "Costumes and Sounds missing / broken"
Click File -> Costumes... doesn't work:

[code]

[2015-05-25 23:29] mciotola commented on #74
I can open my ants Cellular project without the varFrames error. Thanks!

[2015-05-25 23:34] aidanlane commented on #74
Brilliant! Happy to close this Mark?

[2015-05-25 23:35] #74 closed

[2015-05-25 23:58] mciotola commented on #67
I sent the project file via email. Should I send gif format images instead if png format in the future?

[2015-05-26 00:32] mciotola opened #76 "Cellular HTML5: attribute stage painting should reset itself when restarting?"
Cellular HTML5:

Should the attribute stage painting should reset itself when the simulation restarts?

[2015-05-26 03:21] mciotola opened #77 "Cellular HTML5: "distance to" block reports incorrect distances"
Cellular HTML5:

The "distance to" block reports incorrect distances. For example, in the ants simulation shown below, the "distance to" block is set to "colony" which is the yellow block sprite in the lower left corner. Yet the ants seem to show their distance to some point in the center right. Aidan thinks this is because the "distance to" block might be pointing to the default sprite location.

[2015-05-26 03:26] mciotola opened #78 "Cellular HTML5: block parameter mismatch"
Cellular HTML5:

Aidan pointed out that a neighbor (e.g. "objects in nbr cell" block should not be allowed to go into the parameter arrow of a an object block (e.g. "costume name of >"), that this results in a types mismatch. I think the issue is that one produces a list, but the other is not expecting a list, so the combination will not work.
![cellular_html5_object_in_arrow](https://cloud.github

[2015-05-27 02:06] aidanlane commented on #76
Is that what's happening now? What happens in the Desktop version?

[2015-06-01 08:20] #47 closed

[2015-06-01 09:22] aidanlane commented on #47
Great, thanks!!

[2015-06-02 01:26] aidanlane commented on #67
Related to #77, but not exactly the same. @Craxic, can you work on #77 first, thanks!

[2015-06-02 01:28] aidanlane commented on #64
Hi @Craxic, have you any suggestions using the existing blocks? or does this also need dev work?

[2015-06-09 09:21] #77 closed

[2015-06-09 09:45] #67 closed

[2015-06-09 09:51] Craxic commented on #78
Hey guys. Since the base project ("Snap!") does not bother with preventing this, I'm not going to go all the way and prevent the user from doing this myself.

For example, this should be impossible to set up, but "Snap!" is happy with it:
![screenshot from 2015-06-09 19 48 59](https://cloud.githubusercontent.com/assets/4537985/8055130/afb9067e-0ee0-11e5-8e72-49d56f2a5d8f.png)

Closing, let me know

[2015-06-09 09:51] #78 closed

[2015-06-09 10:28] aidanlane commented on #67
Brilliant! In a nutshell, what was the big?
Thanks!!

[2015-06-09 10:30] aidanlane commented on #77
Awesome!!! :+1:

[2015-06-09 11:16] #64 closed

[2015-06-09 11:52] Craxic commented on #67
No big deal, I just had forgotten about these blocks and so they were using the hidden "prototype" sprite for their calculations. Both this block ("point to") and the "distance to" block both use a function called "getOtherObject" to convert an object name to an actual object. So I just moved my changes (from 774f5052f24b59c6b2ec90c3319619c92ce8a387) out of the "distance to" block and into that fu

[2015-06-09 23:50] mciotola commented on #67
Hi guys,

Let me know when this gets deployed. (I tested today, but did not see the
change).

Also, will we be able to specify by sprite number, sprite type or just
costume type?

Mark

On Tue, Jun 9, 2015 at 4:52 AM, Craxic <notifications@github.com> wrote:

[2015-06-10 00:25] aidanlane commented on #67
deployed just now :) be sure to force a refresh in your browser when loading it.

[2015-06-10 00:26] aidanlane commented on #67
Not sure- @Craxic ?

[2015-06-10 00:27] aidanlane commented on #67
Ah, thought so :)

Brilliant! Thanks!

[2015-06-10 01:05] aidanlane commented on #78
Fair enough...
@mciotola, do you think that it's worth creating an issue on https://github.com/jmoenig/Snap--Build-Your-Own-Blocks ?

[2015-06-10 01:19] mciotola commented on #67
Yes, this works for me now. Thanks!

On Tue, Jun 9, 2015 at 5:25 PM, Aidan Lane <notifications@github.com> wrote:

[2015-06-10 01:21] aidanlane commented on #67
Fantastic, thanks @Craxic for getting this working!

[2015-06-10 01:21] mciotola commented on #78
I can't tell whether this issue will cause us problems until we delve into
the Neighbor blocks issue.

On Tue, Jun 9, 2015 at 6:05 PM, Aidan Lane <notifications@github.com> wrote:

[2015-06-24 06:41] Craxic commented on #75
The code was relying on the server to list files in a directory for them in a specific format. That doesn't happen on gh-pages, so I altered it.

[2015-06-24 06:41] #75 closed

[2015-06-24 06:49] aidanlane commented on #75
Clever workaround, thanks Matt!

[2015-06-24 06:54] Craxic commented on #66
Hey Mark,

I've added a new block called "scale to cell size" under "looks" in commit 83866f0.

Thanks,
Matt.

[2015-06-24 06:54] #66 closed

[2015-06-24 07:10] mciotola commented on #66
Thanks! I'll try it out.

On Tue, Jun 23, 2015 at 11:54 PM, Craxic <notifications@github.com> wrote:

[2015-06-24 07:13] Craxic commented on #66
Hey Mark,

If you want me to make some more blocks for you (I think that's what you wanted to talk about right?), just add an issue and I'll get to it.

Matt.

[2015-08-11 04:02] Craxic opened #81 "Current costume is not being saved."

[2015-08-11 04:07] Craxic opened #82 "Sprite Duplicator text entry box does not work properly after a user has used right-click > delete on a sprite"

[2015-08-11 05:17] #82 closed

[2015-08-11 05:53] aidanlane commented on #82
great, thanks!

[2015-08-11 06:21] #81 closed

[2015-08-12 00:09] aidanlane commented on #76
@mciotola and @Craxic, would you both be able to check this for me? What happens in the desktop version?

[2015-08-12 00:09] aidanlane commented on #56
Any updates @mciotola?

[2015-08-12 00:37] Craxic opened #83 "Ensure that the "in all nbr cells" blocks work correctly"

[2015-08-12 09:58] Craxic commented on #76
Hi Aidan,

Cellular on the desktop version does NOT reset the cell attributes when the simulation is stopped or started. This is the same functionality as in the HTML5 version.

[2015-08-12 22:44] aidanlane commented on #76
Thanks for checking that Matt.
I believe that we should keep it the same. Closing issue.
@mciotola, reopen if you beg to differ :stuck_out_tongue_winking_eye:

[2015-08-12 22:44] #76 closed

[2015-08-12 23:47] mciotola commented on #76
I'm not sure, but if I think different, I will open a new ticket for a feature enhancement. At least as long as the user does not save the changes then re-opening has the same effect as resetting.

[2015-08-12 23:50] aidanlane commented on #76
@berndmeyer, do you have any thoughts on this?

[2015-08-13 03:29] mciotola opened #84 "How do I get darker attribute colours?"
Hi Matt,

How do I get darker attribute colours?

For example, in the Bacteria simulation, your simulation shows gradients and values up to 100, but I seem to only be able to draw up to 10 (i.e. changing the value field of the attribute over 10 seems to have no effect.

Mark

[2015-08-13 10:34] Craxic commented on #84
Hey mark,

There are two fields in the list of cell attributes. One is the minimum value, one is the maximum value. I'll make this more clear, thanks for the issue.

[2015-08-14 02:43] #84 closed

[2015-08-14 03:25] #83 closed

[2015-08-17 05:19] mciotola opened #85 "Is Costume __ in all nbr cells does not display all costumes"
Is Costume __ in all nbr cells does not display all costumes. It only displays the costumes for that particular sprite type.

[2015-08-18 02:29] Craxic commented on #62
In the latest version of cellular, the brush tool has a hardness parameter. You can use this to make the brush more or less blurry, as you desire.

[2015-08-18 02:29] #62 closed

[2015-08-18 02:36] Craxic commented on #85
Hi Mark,

This behaviour is the same in Cellular for Windows Desktop. As I understand it, Aidan does not want me to add new features, but just to make sure everything works 100%.

Matt.

[2015-08-18 02:36] #85 closed

[2015-08-18 02:45] aidanlane commented on #62
Great, thanks Matt!

[2015-11-06 01:33] Craxic opened #86 "Automatic sprite center detection"
A user attempted to flip a sprite using the horizontal and vertical flip buttons in the paint editor.

Because the sprite center was not set, it caused the sprite to flip outside the bounds of the editor and disappear. Once the sprite center was chosen, the sprite could be flipped without issue.

The sprite center should be chosen automatically. Investigate if this is still an issue in the newest

[2015-11-06 01:34] Craxic opened #87 "Awful lag"
Many users have issue with Cellular being too slow. Unfortunately I don't believe this is something I can fix.

[2015-11-06 01:38] Craxic opened #88 "Dealing with Infinity, NaN, and the square root of -1."
BYOB does not handle special floating point numbers like infinity and NaN well at all. This should be repaired so as not to confuse users. Errors should appear when a division by 0 is attempted, or something else along those lines.
- [x] Infinity can be put in the cell attribute maximum.
- [x] `Sqrt(0 / 0) > 10000000` is true for some reason
- [x] Sprites can move to infinity.
- [x] Moving to an i

[2015-11-06 01:39] Craxic opened #89 "Clear button for cell attributes"
Someone asked me how to clear out the cell attribute value. While this can be achieved easily using the "set [attribute] to 0 everywhere" block, a clearly labeled button would be useful.

[2015-11-06 01:41] Craxic opened #90 "Key released header block"
A user asked for a block that allowed them to check when a key was released, rather than when it was pressed.

[2015-11-06 01:47] Craxic opened #91 "Specialised nearest sprite to X block"
While a student was using the nearest block, I noticed that it would be useful to have a block named "nearest [object type] to me" that never returns itself if the [object type] is set to the object's type.

[2015-11-06 01:48] Craxic opened #92 "Search blocks bar"
A user wanted a tool to quickly search through all available blocks so they could access what they wanted quickly.

[2015-11-06 01:50] Craxic opened #93 "Create clone block does not work when there are no objects of that type left."
Strange bug with this. It was attempted to create a clone of an object that currently has no instances. The clone creation code was run from a hidden "God" object.

[2015-11-06 01:51] Craxic opened #94 "Using the "instance count" block causes an infinite loop and crashes the page."

[2015-11-06 01:56] Craxic opened #95 "Cell attribute painter floating point issues"
The cell attribute painter is not able to set the value of a cell attribute to exactly 0, it only ever gets very very close to 0. This causes problems when the user checks to see if the a attribute is greater than 0.

[2015-11-06 02:40] Craxic opened #96 "Drawing insanely long text can cause unexpected behaviour"
For example, the text moves up and down for whatever reason.

![img_20151106_114220](https://cloud.githubusercontent.com/assets/4537985/10987922/d33c8776-848b-11e5-8f98-d2b73c144c92.jpg)
![img_20151106_114223](https://cloud.githubusercontent.com/assets/4537985/10987921/d339883c-848b-11e5-8fb4-dfe671a3c4cd.jpg)

[2015-11-24 03:07] #91 closed

[2015-11-24 03:19] #95 closed

[2015-11-24 03:48] #94 closed

[2015-11-24 04:48] #93 closed

[2015-11-24 05:00] aidanlane commented on #93
Thanks @Craxic!

[2015-12-01 01:44] Craxic commented on #96
Could not reproduce.

![screenshot from 2015-12-01 12 44 13](https://cloud.githubusercontent.com/assets/4537985/11490087/4e2caf3c-9829-11e5-87f9-1c1a3f17744f.png)

[2015-12-01 01:44] #96 closed

[2015-12-08 04:02] aidanlane commented on #86
Great :)
Was it a bug in Snap?

[2015-12-08 04:14] #89 closed

[2015-12-08 04:34] #90 closed

[2015-12-08 04:40] Craxic commented on #92
So it turns out you can already do this. Just right click and press "find blocks...":
![screenshot from 2015-12-08 15 35 20](https://cloud.githubusercontent.com/assets/4537985/11647912/d1307542-9dc1-11e5-97bc-fc120fec6787.png)
From there, you can just write what you want to search for. Easy!
![screenshot from 2015-12-08 15 35 32](https://cloud.githubusercontent.com/assets/4537985/11647913/d1320402

[2015-12-08 04:40] #92 closed

[2015-12-08 06:50] Craxic commented on #86
Haha, well, not really. It just assumes that the centre of the sprite is the centre of the canvas you can draw on, which is wrong when you draw a sprite in the top left corner of the canvas, for example. So I just make it base the centre on the middle of all the non-transparent pixels.

[2015-12-08 07:07] aidanlane commented on #86
Could it be a suggested improvement to Snap, as it seems quite generic?

[2015-12-08 14:10] Craxic commented on #86
@aidanlane Done :) https://github.com/jmoenig/Snap--Build-Your-Own-Blocks/pull/1056.

[2015-12-08 22:12] aidanlane commented on #86
Fantastic work @Craxic, Jens seemed to really like the patch! (just need to use existing bounding box function?)

[2015-12-10 04:06] aidanlane commented on #88
Could this be another good candidate for a Snap PR?

[2015-12-10 06:36] Craxic commented on #88
All done! https://github.com/jmoenig/Snap--Build-Your-Own-Blocks/pull/1060

[2017-08-28 03:27] cienciascontic opened #98 "Cellular HTML5: User's blocks cannot be edited"
Once you have created a block, if you do right click over it and select "Edit..." the blocks bar becomes freezed and you're not able to do anything else until you click on another block category.
This bug is present no matter the version, the language nor the browser.
I tried the same in Snap and it works fine, the block picture windows pops up and let you edit your block.

[2017-08-28 03:35] cienciascontic opened #99 "Cellular HTML5: Examples cannot be opened"
If you try to open one of the examples that come with Snap (Animal game, Codification, copter, etc.), when you click on the name and then click the "Open" button, you get a prompt with the following error message: "Load failed: TypeError: Cannot read property 'ChildrenNamed' of null".
See attached screenshot.
![screenshot-opening-example-in-cellular](https://user-images.githubusercontent.com/60781

[2017-08-28 03:40] cienciascontic opened #100 "Cellular HTML5: Export project doesn't work"
When you try to export your project, nothings happened and you are directed to a blank page.

[2017-08-28 03:46] aidanlane commented on #98
Thanks for raising @cienciascontic  👍

[2017-08-28 03:47] aidanlane commented on #100
Hi @cienciascontic, which browser does this occur on?
Could you try it on FireFox?
Thanks!

[2017-08-28 04:19] cienciascontic commented on #100
With Chrome (under OSX El Capitan 10.11.6).
With Firefox & Safari you get a page with some code.
See attached a txt file containing the code that you get when you try to export a simple project with just one block.
[error-in-firefox-and-safari-while-exporting-project.txt](https://github.com/aidanlane/snapapps/files/1255107/error-in-firefox-and-safari-while-exporting-project.txt)

[2017-08-28 04:32] aidanlane commented on #100
Thanks for the extra details.

[2017-09-12 14:00] #98 closed

[2017-09-12 14:33] #99 closed

[2017-09-12 18:23] cienciascontic opened #102 "Cellular HTML5: Project notes doesn't support UTF-8 text codification"
For Spanish speakers there's a need to use extended ASCII characters like accents, ñ, ¿, ¡, etc. in the description of the project ("Project notes"). #enhancement

[2017-09-18 02:34] aidanlane commented on #100
Hey @Craxic, did you mean to close this?

[2017-09-18 02:37] aidanlane commented on #99
Wow, thanks @Craxic!

[2017-09-18 02:45] aidanlane commented on #88
https://github.com/jmoenig/Snap--Build-Your-Own-Blocks/pull/1060 doesn't seem to be merged. Did you mean to close this @Craxic?

[2017-09-18 02:50] aidanlane commented on #98
Thanks @Craxic!
Fixed via https://github.com/aidanlane/snapapps/commit/663a551d38abe60798bd77df7f3186340fa1feec (not sure why that's not appearing in the GitHub log here?)